
/*詳細情報表示領域*/
.detailInfoArea{
    display:-webkit-flex;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/*詳細情報要素*/ 
.detailInfoElement{
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

/*詳細情報の画像*/
.detailInfoImage{
    width: 100%;
    height: 50vh;
    object-fit: contain;
}

/*詳細情報の動画*/
.detailInfoMovie{
    text-align: center;
}

.detailButtomBlank{
    width: 100%;
    height: 20%;
}

.detailIfarme{
    width: 80%;
    height: 50vh;
}

/*詳細画面 動画のヘッダ*/
.detailInfoMovieHeader{
    width: 100%;
    height: 8vh;
    background-color: coral;
    text-align: center;
    position: relative;
}

.detailInfoMovieTitle{
    position: absolute;
    color: white;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}