.slick-box{
    height: 70%;
    width: 100%;
    margin: auto;
    padding: 0%;
}

.slick-box li{
    height: 70%;
}

.slick-box img{
    width: 100%;
}

body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.SlickArea{
    background-color: beige;
}
