.slick-box{
    height: 70%;
    width: 100%;
    margin: auto;
    padding: 0%;
}

.slick-box li{
    height: 70%;
}

.slick-box img{
    width: 100%;
}

.Header {
    width: 100%;
    height: 40%;
    padding: 0%;
    margin: 0%;
    background-color: beige;
}



body{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}

.SlickArea{
    background-color: beige;
}

.Boarder{
    margin: 0%;
    padding: 0%;
    height: 2px;
}
