.slick-box{
    height: 60%;
    width: 100%;
    margin: auto;
    padding: 0%;
}

.slick-box li{
    height: 60%;
}

.slick-box img{
    width: 100%;
}

.Header {
    width: 100%;
    height: 40%;
    padding: 0%;
}

body{
    margin: 0px;
}

